{% extends 'navbar.html' %}

{% block content %}
<body>
    <main>
        <nav>
            <ul>
                <li><a href='../index.html'>Home</a></li>
                <li>Recursos</li>
                <li>
                    <div class="dropdown">
                        Eventos
                        <div class="dropdown-content">
                            <a href="#">ECCO</a>
                            <a href="./dias.html">Dias Combinatoria</a>
                            <a href="https://sesaco.combinatoria.co/página-principal">SeSaCo</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <header class="header">
            <h1>Encuentro Colombiano de Combinatoria</h1>
        </header>
    </main>
    <section>
        <div class = 'container'>
            <h2>
                Sobre ECCO
            </h2>
            <p>
                Cada año se realiza el Encuentro Colombiano de Combinatoria (ECCO), en distintas ciudades de colombia.
                En este evento se presentan diferentes minicursos guiados por expertos internacionales,
                acompañados de sesiones de problemas, charlas investigativas, páneles de discussion, etc.
            </p><p> Las actividades se encuentran diseñadas para que quienes asistan tengan la oportunidad de interactuar de manera cercana
                personas de todos los grados académicos en matemáticas dentro de un ambiente profesional y acogedor. 
               </p>
        </div>
        <div class="container">
            <h2>
                Eventos futuros
            </h2>
            <a href='https://ecco2024.combinatoria.co/inicio-español/programa' target='_blank'><img src="./images/eccoposter.jpeg" alt="Poster ecco 2024"></a>
        </div>
        <div class="container">
            <h2>
                Eventos Anteriores
            </h2>
            <a href='https://ecco2024.combinatoria.co/inicio-español/programa' target='_blank'><img src="./images/eccoposter.jpeg" alt="Poster ecco 2024"></a>
        </div>
    </section>
</body>
{% endblock %}
