{% extends 'navbar.html' %}

{% block content %}

        <header class="header">
            <h1 class="text-4xl font-bold">Comunidad Colombiana de Combinatoria</h1>
            <p></p>
        </header>
        <section>
            <h2>Eventos</h2>
            <article class="item">
                <h3><Strong><a href="https://ecco2024.combinatoria.co/inicio-español" target="_blank">Encuentro
                            Colombiano de Combinatoria 2024</a></Strong></h3>
                <!--
                <p>June 17-28 2024</p>
                <p>Minicourses: Matthias Beck, Isabella Novik, Hal Schenck, Cynthia Vinzant</p>
                <p>Plenary Speakers: Luis Núñez, Kris Shaw</p>-->
                <h3><Strong><a href="https://sesaco.combinatoria.co" target="_blank">Dias De Combinatoria</a></Strong>
                </h3>
                <h3><Strong><a href="https://sesaco.combinatoria.co" target="_blank">Seminario Sabanero de
                            Combinatoria</a></Strong></h3>
            </article>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Comunidad Colombiana de Combinatoria</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
{% endblock %}
